html, body {
  background-color: #2B22BB;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  color: white;
}

.mapa_maua {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box; 
  padding: 20px; 
  margin-top: 0;
  padding-top: 0;
}

.content {
  text-align: center;
  width: 100%;
  max-width: 800px;
}

.title {
  font-size: 2.5rem;
  margin: 10px 0;
}

.subtitle {
  font-size: 1.2rem;
  color: #ddd;
  margin-bottom: 20px;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 500px;
  border: 1px solid #ffffff33; 
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (max-width: 768px) {
  .map-container {
    width: 90%;
    height: 500px;
  }
  iframe {
    height: 500px;
  }
    
}


