body{
    margin: 0;
    padding: 0;
}

.NavbarEvento {
    height: 62px; /* Ajuste a altura para o valor desejado */
    padding: 0; /* Remove qualquer espaçamento adicional */
    display: flex; /* Para garantir que o conteúdo seja alinhado corretamente */
    align-items: center;
}

@media (min-width: 992px) {
    .NavbarEvento {
        height: 82px; /* Altura para telas de computador (lg e acima) */
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* Cor de fundo: background-color: #060153; */